header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 300ms ease;
}
header.black{
    background-color: #141414;
}
.Header--logo , .Header--profile{
    height: 5vh;
    margin: 0 10vw;
    border-radius: 5px;
}
.arrow-left{
    transform: scale(2.5);
    width: 15px;
    height: 103.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    background: #363842;
    filter: opacity(0);
    position: absolute;
    left: 20px;
    cursor: pointer;
}