.HomeLists--list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 50px;

}
.HomeLists--list_name{
    font-family: 'Netflix Sans';
    font-size: 1.3em;
    margin: 0 50px;
    cursor: default;
}
.HomeLists--list-banners{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}
.HomeLists--list-banners img{
    width: 2.5%;
    transform: scale(.95);
    transition: 250ms ease;
    cursor: pointer;
}
.HomeLists--list-banners img:hover{
    transform: scale(1.15);
    z-index: 10;
}